@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

h1,
h2,
h3,
h4,
h5,
p,
a {
    margin: 0;
}

body {
    font-family: "Open Sans";
}

button {
    border: 3px rgb(201, 201, 211);
    box-shadow: 2px 2px black;
    background-color: rgb(201, 201, 211);
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
    transform: scale(1.02);
    background-color: #a7a3a3;
}


a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #646cff;
}

a:hover {
    color: #535bf2;
}

.wrapper {
    background-color: rgb(201, 201, 211);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "navbar"
        "content"
        "footer";
    min-height: 100vh;
}

.navHeading {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 40px;
}

.content,
.productItems {
    gap: 15px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
}

.productItems {
    gap: 25px;
    padding: 25px;
}

.contentCard,
.productCard {
    background-color: white;
    display: flex;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contentCard {
    font-size: 1.5rem;
}
.productCard {
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 1.05rem;
    height: 480px;
}

.cartIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 60px;
}
.circle {
    background-color: #535bf2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    transform: translate(-30px, -20px);
    color: white;
    font-size: 1.5rem;
}
.cartIcon >button {
    background-color: white;
    box-shadow: 2px 2px black;
}
.checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}